<%- include('layouts/header'); -%>
      <div class="starter-template">
        <h1>Form List</h1>
        <br /><br />
        <a href="/create_form" class="btn btn-default">Create Form</a>
        <br /><br />
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Title</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Sample Form</a></td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">Delete</a></td>
              
            </tr>
          </tbody>
        </table>
      </div>
<%- include('layouts/footer'); -%>