
<%- include('layouts/header'); -%>
      <div class="starter-template">
        <h1>Welcome</h1>
        <br />
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
          <p>Welcome to Nijforms</p> 
          <p></p><a href="/forms">Start Here</a></p>
        </nav>
      </div>
<%- include('layouts/footer'); -%>
    